Repository stellar/go, pull requests merged in 2018-05, with the labels that each got.

#425 Remove deprecated result_code and result_code_s
  services/horizon/internal/docs/reference/endpoints/transactions-all.md
  services/horizon/internal/docs/reference/endpoints/transactions-for-account.md
  services/horizon/internal/docs/reference/endpoints/transactions-for-ledger.md
  services/horizon/internal/docs/reference/endpoints/transactions-single.md
  services/horizon/internal/docs/reference/resources/transaction.md
Labels: in progress

#416 Fix typos
  services/horizon/internal/docs/reference/admin.md
Labels: in progress

#431 Missed a typo
  services/horizon/internal/docs/reference/admin.md
Labels: in progress

#437 Remove manual migrations instructions
  services/bifrost/README.md
Labels: bifrost, in progress

#436 Fix sum of asset in circulation in all assets endpoint
  amount/main.go
  amount/main_test.go
  services/horizon/internal/db2/assets/asset_stat.go
  services/horizon/internal/db2/assets/asset_stat_test.go
  services/horizon/internal/db2/core/trustline.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/db2/schema/bindata.go
  services/horizon/internal/db2/schema/latest.sql
  services/horizon/internal/db2/schema/migrations/12_asset_stats_amount_string.sql
  services/horizon/internal/ingest/asset_stat.go
  services/horizon/internal/ingest/asset_stat_test.go
  services/horizon/internal/resource/asset_stat.go
Labels: horizon, in progress

#440 Fix error wrapping in ingest.Session
  services/horizon/internal/ingest/session.go
Labels: horizon

#446 Send initial errors while streaming
  services/horizon/CHANGELOG.md
  services/horizon/internal/actions/base.go
  services/horizon/internal/render/sse/stream.go
Labels: horizon
