Repository stellar/go, pull requests merged in 2019-04, with the labels that each got.

#1071 txnbuild: Initial README
  exp/txnbuild/README.md
Labels: sdk, txnbuild

#1068 txnbuild: path payments (#984)
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/helpers_test.go
  exp/txnbuild/path_payment.go
  exp/txnbuild/transaction_test.go
Labels: sdk, txnbuild

#1066 exp/clients/horizon: stream ledgers
  exp/clients/horizon/client.go
  exp/clients/horizon/effect_request.go
  exp/clients/horizon/ledger_request.go
  exp/clients/horizon/ledger_request_test.go
  exp/clients/horizon/main.go
  exp/clients/horizon/main_test.go
  exp/clients/horizon/mocks.go
Labels: horizonclient

#1092 exp/txnbuild: reduce xdr scope
  exp/clients/horizon/error.go
  exp/txnbuild/account_merge.go
  exp/txnbuild/allow_trust.go
  exp/txnbuild/bump_sequence.go
  exp/txnbuild/change_trust.go
  exp/txnbuild/create_account.go
  exp/txnbuild/create_passive_offer.go
  exp/txnbuild/inflation.go
  exp/txnbuild/manage_data.go
  exp/txnbuild/manage_offer.go
  exp/txnbuild/path_payment.go
  exp/txnbuild/payment.go
  exp/txnbuild/set_options.go
Labels: sdk, txnbuild

#1104 exp/clients/horizon: fix horizon errors
  exp/clients/horizon/error.go
  exp/clients/horizon/error_test.go
Labels: horizonclient

#1105 exp/clients/horizon: support streaming trades
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/trade_request.go
  exp/clients/horizon/trade_request_test.go
Labels: horizonclient

#1106 exp/clients/horizon: stream transactions
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/transaction_request.go
  exp/clients/horizon/transaction_request_test.go
Labels: horizonclient

#1097 exp/clients/horizon: stream effects
  exp/clients/horizon/client.go
  exp/clients/horizon/effect_request.go
  exp/clients/horizon/effect_request_test.go
  exp/clients/horizon/main.go
  exp/clients/horizon/main_test.go
  exp/clients/horizon/mocks.go
Labels: horizonclient

#1116 support changeTrustSelfNotAllowed
  services/horizon/internal/codes/main.go
Labels: horizon, horizonclient

#1113 exp/clients/horizon: StreamLedgers
  exp/clients/horizon/client.go
  exp/clients/horizon/ledger_request.go
  exp/clients/horizon/ledger_request_test.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
Labels: horizonclient

#1114 exp/clients/horizon: stream offers
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/offer_request.go
  exp/clients/horizon/offer_request_test.go
Labels: horizonclient

#1122 exp/clients/horizon: StreamOrderBooks
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/order_book_request.go
  exp/clients/horizon/order_book_request_test.go
Labels: horizonclient

#1098 exp/clients/horizon: stream operations and payment functions
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/operation_request.go
  exp/clients/horizon/operation_request_test.go
Labels: horizonclient

#1123 exp/ticker: Store Issuer data on a separate table
  exp/ticker/internal/actions_asset.go
  exp/ticker/internal/actions_issuer.go
  exp/ticker/internal/scraper/asset_scraper.go
  exp/ticker/internal/scraper/main.go
  exp/ticker/internal/tickerdb/helpers.go
  exp/ticker/internal/tickerdb/main.go
  exp/ticker/internal/tickerdb/migrations/20190408155841-add_issuers_table.sql
  exp/ticker/internal/tickerdb/migrations/20190410094830-add_assets_issuer_account_field.sql
  exp/ticker/internal/tickerdb/queries_asset.go
  exp/ticker/internal/tickerdb/queries_asset_test.go
  exp/ticker/internal/tickerdb/queries_issuer.go
  exp/ticker/internal/tickerdb/queries_issuer_test.go
Labels: ticker

#1137 exp/ticker: Ingest Trades (backfill and streaming)
  exp/ticker/internal/actions_asset.go
  exp/ticker/internal/actions_trade.go
  exp/ticker/internal/scraper/asset_scraper.go
  exp/ticker/internal/scraper/helpers.go
  exp/ticker/internal/scraper/main.go
  exp/ticker/internal/scraper/trade_scraper.go
  exp/ticker/internal/scraper/trade_scraper_test.go
  exp/ticker/internal/tickerdb/main.go
  exp/ticker/internal/tickerdb/migrations/20190409152216-add_trades_table.sql
  exp/ticker/internal/tickerdb/migrations/20190409172610-rename_assets_desc_description.sql
  exp/ticker/internal/tickerdb/migrations/20190411165735-data_seed_and_indices.sql
  exp/ticker/internal/tickerdb/queries_asset.go
  exp/ticker/internal/tickerdb/queries_asset_test.go
  exp/ticker/internal/tickerdb/queries_trade.go
  exp/ticker/internal/tickerdb/queries_trade_test.go
  exp/ticker/internal/utils/main.go
  exp/ticker/main.go
Labels: ticker

#1138 Increment sequence number during tx build
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/transaction.go
  exp/txnbuild/transaction_test.go
  protocols/horizon/main.go
  protocols/horizon/main_test.go
Labels: txnbuild

#1139 exp/ticker: CLI
  exp/ticker/cmd/ingest.go
  exp/ticker/cmd/migrate.go
  exp/ticker/cmd/root.go
  exp/ticker/internal/actions_asset.go
  exp/ticker/internal/actions_trade.go
  exp/ticker/internal/scraper/asset_scraper.go
  exp/ticker/internal/scraper/main.go
  exp/ticker/internal/scraper/trade_scraper.go
  exp/ticker/internal/tickerdb/main.go
  exp/ticker/internal/tickerdb/migrations/bindata.go
  exp/ticker/internal/tickerdb/queries_asset_test.go
  exp/ticker/internal/utils/main.go
  exp/ticker/main.go
Labels: ticker

#1142 exp/txnbuild: rename constructor functions
  exp/txnbuild/change_trust.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/manage_offer.go
  exp/txnbuild/transaction_test.go
Labels: txnbuild

#1143 xdr: move allow trust converter to XDR lib
  exp/txnbuild/allow_trust.go
  exp/txnbuild/asset.go
  xdr/allow_trust_op_asset.go
  xdr/asset.go
  xdr/asset_test.go
Labels: txnbuild

#1141 exp/ticker: Market data aggregation
  exp/ticker/cmd/generate.go
  exp/ticker/internal/actions_asset.go
  exp/ticker/internal/actions_market.go
  exp/ticker/internal/main.go
  exp/ticker/internal/tickerdb/main.go
  exp/ticker/internal/tickerdb/queries_market.go
  exp/ticker/internal/tickerdb/queries_market_test.go
  exp/ticker/internal/utils/main.go
Labels: ticker

#1144 Extract base 64 XDR envelope for Horizon errors
  exp/clients/horizon/error.go
Labels: horizonclient

#1145 exp/ticker: create CLI command to output asset data to a file
  exp/ticker/cmd/generate.go
  exp/ticker/internal/actions_asset.go
  exp/ticker/internal/actions_market.go
  exp/ticker/internal/main.go
  exp/ticker/internal/scraper/main.go
  exp/ticker/internal/tickerdb/queries_asset.go
  exp/ticker/internal/utils/main.go
Labels: ticker

#1150 txnbuild: memo support
  exp/txnbuild/memo.go
  exp/txnbuild/transaction.go
  exp/txnbuild/transaction_test.go
Labels: sdk, txnbuild

#1148 txnbuild: move asset from pointer to interface
  exp/txnbuild/allow_trust.go
  exp/txnbuild/asset.go
  exp/txnbuild/asset_test.go
  exp/txnbuild/change_trust.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/create_account.go
  exp/txnbuild/create_passive_offer.go
  exp/txnbuild/manage_offer.go
  exp/txnbuild/path_payment.go
  exp/txnbuild/payment.go
  exp/txnbuild/transaction.go
  exp/txnbuild/transaction_test.go
Labels: sdk, txnbuild

#1152 exp/ticker: new market data fields
  exp/ticker/internal/actions_market.go
  exp/ticker/internal/main.go
  exp/ticker/internal/tickerdb/main.go
  exp/ticker/internal/tickerdb/queries_market.go
  exp/ticker/internal/tickerdb/queries_market_test.go
Labels: ticker

#1155 exp/ticker: API Documentation and Backwards Compatibility
  exp/ticker/docs/API.md
  exp/ticker/internal/actions_market.go
  exp/ticker/internal/main.go
Labels: ticker

#1159 txnbuild/horizonclient: fix error strings
  exp/clients/horizon/account_request.go
  exp/clients/horizon/account_request_test.go
  exp/clients/horizon/client.go
  exp/clients/horizon/effect_request.go
  exp/clients/horizon/effect_request_test.go
  exp/clients/horizon/error.go
  exp/clients/horizon/fee_stats_request.go
  exp/clients/horizon/ledger_request.go
  exp/clients/horizon/ledger_request_test.go
  exp/clients/horizon/main_test.go
  exp/clients/horizon/metrics_request.go
  exp/clients/horizon/offer_request.go
  exp/clients/horizon/offer_request_test.go
  exp/clients/horizon/operation_request.go
  exp/clients/horizon/operation_request_test.go
  exp/clients/horizon/order_book_request.go
  exp/clients/horizon/order_book_request_test.go
  exp/clients/horizon/paths_request_test.go
  exp/clients/horizon/submit_request.go
  exp/clients/horizon/submit_request_test.go
  exp/clients/horizon/trade_aggregation_request_test.go
  exp/clients/horizon/trade_request.go
  exp/clients/horizon/trade_request_test.go
  exp/clients/horizon/transaction_request.go
  exp/clients/horizon/transaction_request_test.go
  exp/txnbuild/account_merge.go
  exp/txnbuild/allow_trust.go
  exp/txnbuild/asset.go
  exp/txnbuild/asset_test.go
  exp/txnbuild/bump_sequence.go
  exp/txnbuild/change_trust.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/create_account.go
  exp/txnbuild/create_passive_offer.go
  exp/txnbuild/inflation.go
  exp/txnbuild/manage_data.go
  exp/txnbuild/manage_offer.go
  exp/txnbuild/path_payment.go
  exp/txnbuild/payment.go
  exp/txnbuild/set_options.go
  exp/txnbuild/transaction.go
  exp/txnbuild/transaction_test.go
Labels: horizonclient, txnbuild

#1153 txnbuild: timebounds support
  exp/txnbuild/helpers_test.go
  exp/txnbuild/timebounds.go
  exp/txnbuild/timebounds_test.go
  exp/txnbuild/transaction.go
  exp/txnbuild/transaction_test.go
Labels: txnbuild

#1162 exp/clients/horizon: submit tx object
  .gitignore
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/main_test.go
  exp/clients/horizon/mocks.go
Labels: horizonclient

#1161 horizonclient: Fund() method from friendbot
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
Labels: horizonclient, sdk

#1160 exp/ticker: add GraphQL schema and Server
  Gopkg.lock
  Gopkg.toml
  exp/ticker/.gqlconfig
  exp/ticker/cmd/serve.go
  exp/ticker/internal/actions_graphql.go
  exp/ticker/internal/gql/bigint.go
  exp/ticker/internal/gql/graphiql.go
  exp/ticker/internal/gql/main.go
  exp/ticker/internal/gql/main_test.go
  exp/ticker/internal/gql/resolvers_asset.go
  exp/ticker/internal/gql/resolvers_issuer.go
  exp/ticker/internal/gql/resolvers_market.go
  exp/ticker/internal/gql/static/bindata.go
  exp/ticker/internal/gql/static/graphiql.html
  exp/ticker/internal/gql/static/schema.go
  exp/ticker/internal/gql/static/schema.gql
  exp/ticker/internal/tickerdb/helpers.go
  exp/ticker/internal/tickerdb/helpers_test.go
  exp/ticker/internal/tickerdb/main.go
  exp/ticker/internal/tickerdb/queries_issuer.go
  exp/ticker/internal/tickerdb/queries_market.go
  exp/ticker/internal/tickerdb/queries_market_test.go
  exp/ticker/main.go
Labels: ticker

#1167 exp/ticker: GraphQL server Docker integration
  exp/ticker/cmd/serve.go
  exp/ticker/docker/conf/nginx.conf
  exp/ticker/docker/conf/supervisord.conf
  exp/ticker/docker/setup
Labels: ticker

#1168 exp/ticker: optimize global market aggregation query
  exp/ticker/internal/tickerdb/queries_market.go
  exp/ticker/internal/tickerdb/queries_market_test.go
Labels: ticker

#1164 Protocol v11 XDR changes
  build/manage_offer.go
  build/manage_offer_test.go
  build/transaction.go
  build/transaction_test.go
  exp/clients/horizon/main_test.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/create_passive_offer.go
  exp/txnbuild/manage_offer.go
  exp/txnbuild/transaction.go
  exp/txnbuild/transaction_test.go
  protocols/horizon/operations/main.go
  protocols/stellarcore/tx_response.go
  services/horizon/internal/actions_operation_test.go
  services/horizon/internal/codes/main.go
  services/horizon/internal/docs/reference/resources/account.md
  services/horizon/internal/docs/reference/resources/effect.md
  services/horizon/internal/docs/reference/resources/operation.md
  services/horizon/internal/ingest/asset_stat.go
  services/horizon/internal/ingest/asset_stat_test.go
  services/horizon/internal/ingest/ingestion_test.go
  services/horizon/internal/ingest/participants/main.go
  services/horizon/internal/ingest/session.go
  services/horizon/internal/resourceadapter/operations.go
  services/horizon/internal/txsub/submitter.go
  xdr/Stellar-ledger-entries.x
  xdr/Stellar-ledger.x
  xdr/Stellar-transaction.x
  xdr/ledger_key.go
  xdr/xdr_generated.go
Labels: horizon

#1170 exp/clients/horizon: Fetch timebounds
  exp/clients/horizon/client.go
  exp/clients/horizon/effect_request.go
  exp/clients/horizon/internal.go
  exp/clients/horizon/ledger_request.go
  exp/clients/horizon/main.go
  exp/clients/horizon/main_test.go
  exp/clients/horizon/offer_request.go
  exp/clients/horizon/operation_request.go
  exp/clients/horizon/order_book_request.go
  exp/clients/horizon/trade_request.go
  exp/clients/horizon/transaction_request.go
Labels: horizonclient

#1037 Support amounts that exceed int64 max in order book
  services/horizon/internal/db2/core/main.go
  services/horizon/internal/db2/core/main_test.go
  services/horizon/internal/db2/core/order_book_summary_test.go
  services/horizon/internal/db2/core/price_level.go
  services/horizon/internal/resourceadapter/order_book_summary.go
Labels: horizon

#1181 exp/clients/horizon: move to clients/horizonclient
  clients/horizonclient/account_request.go
  clients/horizonclient/account_request_test.go
  clients/horizonclient/asset_request.go
  clients/horizonclient/asset_request_test.go
  clients/horizonclient/client.go
  clients/horizonclient/effect_request.go
  clients/horizonclient/effect_request_test.go
  clients/horizonclient/error.go
  clients/horizonclient/error_test.go
  clients/horizonclient/fee_stats_request.go
  clients/horizonclient/internal.go
  clients/horizonclient/ledger_request.go
  clients/horizonclient/ledger_request_test.go
  clients/horizonclient/main.go
  clients/horizonclient/main_test.go
  clients/horizonclient/metrics_request.go
  clients/horizonclient/mocks.go
  clients/horizonclient/offer_request.go
  clients/horizonclient/offer_request_test.go
  clients/horizonclient/operation_request.go
  clients/horizonclient/operation_request_test.go
  clients/horizonclient/order_book_request.go
  clients/horizonclient/order_book_request_test.go
  clients/horizonclient/paths_request.go
  clients/horizonclient/paths_request_test.go
  clients/horizonclient/submit_request.go
  clients/horizonclient/submit_request_test.go
  clients/horizonclient/trade_aggregation_request.go
  clients/horizonclient/trade_aggregation_request_test.go
  clients/horizonclient/trade_request.go
  clients/horizonclient/trade_request_test.go
  clients/horizonclient/transaction_request.go
  clients/horizonclient/transaction_request_test.go
  exp/ticker/cmd/root.go
  exp/ticker/internal/actions_asset.go
  exp/ticker/internal/actions_trade.go
  exp/ticker/internal/scraper/asset_scraper.go
  exp/ticker/internal/scraper/main.go
  exp/ticker/internal/scraper/trade_scraper.go
  exp/txnbuild/README.md
  exp/txnbuild/cmd/txnbuild_examples/main.go
Labels: horizonclient

#1173 txnbuild: full end-to-end SDK demo
  exp/txnbuild/cmd/demo/cmd/init.go
  exp/txnbuild/cmd/demo/cmd/reset.go
  exp/txnbuild/cmd/demo/cmd/root.go
  exp/txnbuild/cmd/demo/cmd/txerror.go
  exp/txnbuild/cmd/demo/main.go
  exp/txnbuild/cmd/demo/operations/demo.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/transaction.go
Labels: horizonclient, sdk, txnbuild

#1174 exp/clients/horizon: add readme
  clients/horizonclient/README.md
Labels: horizonclient

#1180 clients/horizon: add deprecated tags
  clients/horizon/client.go
  clients/horizon/main.go
Labels: horizonclient

#1191 txnbuild: example docs
  exp/txnbuild/README.md
  exp/txnbuild/cmd/build_examples/main.go
  exp/txnbuild/cmd/configure_testnet.sh
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/create_passive_offer.go
  exp/txnbuild/example_test.go
  exp/txnbuild/examplehorizonclient/examplehorizonclient.go
  exp/txnbuild/helpers_test.go
  exp/txnbuild/manage_offer.go
  exp/txnbuild/transaction.go
  exp/txnbuild/transaction_test.go
Labels: txnbuild

#977 Add horizon-cmp command
  tools/horizon-cmp/internal/response.go
  tools/horizon-cmp/main.go
  tools/horizon-verify/main.go
Labels: horizon

#1194 move txnbuild to main repo
  clients/horizonclient/client.go
  clients/horizonclient/main.go
  clients/horizonclient/main_test.go
  clients/horizonclient/mocks.go
  txnbuild/README.md
  txnbuild/account_merge.go
  txnbuild/allow_trust.go
  txnbuild/asset.go
  txnbuild/asset_test.go
  txnbuild/bump_sequence.go
  txnbuild/change_trust.go
  txnbuild/cmd/demo/cmd/init.go
  txnbuild/cmd/demo/cmd/reset.go
  txnbuild/cmd/demo/cmd/root.go
  txnbuild/cmd/demo/cmd/txerror.go
  txnbuild/cmd/demo/main.go
  txnbuild/cmd/demo/operations/demo.go
  txnbuild/create_account.go
  txnbuild/create_passive_offer.go
  txnbuild/example_test.go
  txnbuild/examplehorizonclient/examplehorizonclient.go
  txnbuild/helpers_test.go
  txnbuild/inflation.go
  txnbuild/manage_data.go
  txnbuild/manage_offer.go
  txnbuild/memo.go
  txnbuild/operation.go
  txnbuild/path_payment.go
  txnbuild/payment.go
  txnbuild/set_options.go
  txnbuild/set_options_test.go
  txnbuild/timebounds.go
  txnbuild/timebounds_test.go
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1192 build: add deprecated tags
  build/README.md
  build/account_merge.go
  build/allow_trust.go
  build/bump_sequence.go
  build/change_trust.go
  build/create_account.go
  build/inflation.go
  build/main.go
  build/manage_data.go
  build/manage_offer.go
  build/payment.go
  build/set_options.go
  build/transaction.go
  clients/horizon/README.md
  clients/horizon/main.go
Labels: txnbuild

#1199 horizonclient, txnbuild: dev docs
  clients/horizonclient/main.go
  docs/reference/examples.md
  docs/reference/readme.md
  txnbuild/transaction.go
Labels: horizonclient, txnbuild

#1204 exp/ticker: ensure ticker is compatible with psql 9.5
  exp/ticker/docker/conf/supervisord.conf
  exp/ticker/docker/dependencies
  exp/ticker/docker/start
  exp/ticker/internal/tickerdb/migrations/20190404184050-initial.sql
  exp/ticker/internal/tickerdb/migrations/bindata.go
  exp/ticker/internal/tickerdb/queries_market.go
Labels: ticker

#1207 Horizon 0.17.6 CHANGELOG
  services/horizon/CHANGELOG.md
Labels: horizon

#1196 fix indentation of code example
  txnbuild/README.md
Labels: txnbuild

#1210 horizonclient/txnbuild README fixes
  README.md
  clients/README.md
  clients/horizon/main.go
  clients/horizonclient/README.md
  txnbuild/README.md
Labels: horizonclient, txnbuild

#1213 horizonclient: update Fund method
  clients/horizonclient/CHANGELOG.md
  clients/horizonclient/client.go
  clients/horizonclient/main.go
  clients/horizonclient/main_test.go
  clients/horizonclient/mocks.go
Labels: horizonclient
