Repository stellar/go, pull requests merged in 2019-07, with the labels that each got.

#1455 txnbuild: support alternate signatures
  txnbuild/CHANGELOG.md
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1458 exp/tools/orderbook: WIP in memory path finding
  exp/orderbook/batch.go
  exp/orderbook/edges.go
  exp/orderbook/graph.go
  exp/orderbook/graph_test.go
  exp/orderbook/stream.go
  price/main.go
  price/main_test.go
  services/horizon/internal/simplepath/order_book.go
  services/horizon/internal/simplepath/order_book_test.go
Labels: ingest

#1482 Fix pipeline error channel and running state race
  exp/support/pipeline/pipeline.go
Labels: ingest

#1478 services/ticker: allow ticker to run on testnet via CLI
  services/ticker/cmd/ingest.go
  services/ticker/cmd/root.go
  services/ticker/internal/scraper/asset_scraper.go
  services/ticker/internal/scraper/asset_scraper_test.go
Labels: ticker

#1494 services/ticker: ensure ticker ingestion scripts can overcome Horizon's rate limiting
  services/ticker/internal/scraper/asset_scraper.go
  services/ticker/internal/scraper/orderbook_scraper.go
  services/ticker/internal/scraper/trade_scraper.go
  services/ticker/internal/utils/main.go
Labels: ticker

#1490 services/horizon: history archive url + accounts for signer feature flag
  services/horizon/cmd/root.go
  services/horizon/internal/config.go
Labels: accounts for signer, horizon

#1468 txnbuild: SEP 10 challenge builder
  txnbuild/CHANGELOG.md
  txnbuild/example_test.go
  txnbuild/helpers_test.go
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1508 exp/support/pipeline: Pipeline updates
  exp/ingest/io/ledger_reader.go
  exp/ingest/io/mock_ledger_reader.go
  exp/ingest/pipeline/main.go
  exp/ingest/pipeline/pipeline_test.go
  exp/ingest/processors/csv_printer.go
  exp/ingest/processors/main.go
  exp/ingest/processors/status_logger.go
  exp/support/pipeline/buffered_read_writer.go
  exp/support/pipeline/buffered_read_writer_test.go
  exp/support/pipeline/main.go
  exp/support/pipeline/multi_writer.go
  exp/support/pipeline/pipeline.go
  exp/support/pipeline/pipeline_node.go
  exp/support/pipeline/pipeline_test.go
  exp/tools/accounts-for-signer/processors.go
  exp/tools/horizon-demo/database_processor.go
  exp/tools/horizon-demo/orderbook_processor.go
Labels: ingest

#1509 exp/ingest: Update cursor value in LiveSession
  exp/ingest/live_session.go
  exp/ingest/main.go
  exp/tools/horizon-demo/main.go
Labels: ingest

#1513 services/horizon: "Accounts For Signer" endpoint
  exp/ingest/cmd/main.go
  exp/ingest/io/ledger_transaction.go
  exp/ingest/io/ledger_transaction_test.go
  exp/ingest/io/mock_state_reader.go
  exp/ingest/io/mock_state_writer.go
  exp/ingest/ledgerbackend/database_backend.go
  exp/ingest/live_session.go
  exp/ingest/main.go
  exp/ingest/single_ledger_session.go
  exp/ingest/standard_session.go
  exp/tools/horizon-demo/main.go
  exp/tools/horizon-demo/pipelines.go
  protocols/horizon/main.go
  services/horizon/CHANGELOG.md
  services/horizon/internal/action.go
  services/horizon/internal/actions/account.go
  services/horizon/internal/actions/account_test.go
  services/horizon/internal/app.go
  services/horizon/internal/db2/history/account_signers.go
  services/horizon/internal/db2/history/key_value.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/db2/history/q_signers_mock.go
  services/horizon/internal/db2/schema/bindata.go
  services/horizon/internal/db2/schema/latest.sql
  services/horizon/internal/db2/schema/migrations/18_account_for_signers.sql
  services/horizon/internal/expingest/main.go
  services/horizon/internal/expingest/pipelines.go
  services/horizon/internal/expingest/processors/database_processor.go
  services/horizon/internal/expingest/processors/database_processor_test.go
  services/horizon/internal/expingest/processors/main.go
  services/horizon/internal/expingest/reporter.go
  services/horizon/internal/handler.go
  services/horizon/internal/init.go
  services/horizon/internal/render/problem/problem.go
  services/horizon/internal/resourceadapter/account_signer.go
  services/horizon/internal/test/scenarios/blank-horizon.sql
  services/horizon/internal/urlparams.go
  services/horizon/internal/web.go
  strkey/main.go
  xdr/account_entry.go
  xdr/signer_key.go
Labels: horizon, ingest

#1518 Remove default values for history archives
  services/horizon/CHANGELOG.md
  services/horizon/cmd/root.go
  support/historyarchive/archive.go
Labels: horizon

#1515 Fix var name in txnbuild inline example.
  txnbuild/README.md
Labels: txnbuild

#1535 Report expingest status in root resource
  protocols/horizon/main.go
  services/horizon/internal/app.go
  services/horizon/internal/ledger/main.go
  services/horizon/internal/resourceadapter/root.go
  services/horizon/internal/test/scenarios/base-horizon.sql
  services/horizon/internal/test/scenarios/bindata.go
Labels: horizon

#1533 DatabaseProcessor.ProcessLedger tests
  exp/ingest/io/mock_ledger_writer.go
  services/horizon/internal/expingest/processors/database_processor_test.go
Labels: horizon, ingest

#1531 services/ticker: prepare for v1.1.0 release
  services/ticker/CHANGELOG.md
  services/ticker/cmd/generate.go
  services/ticker/docker/setup
  services/ticker/internal/actions_market.go
Labels: ticker

#1536 services/horizon/expingest: Store ingestion system version
  services/horizon/internal/db2/history/key_value.go
  services/horizon/internal/expingest/main.go
  services/horizon/internal/expingest/pipelines.go
Labels: horizon

#1549 services/ticker: add nested issuer_detail field on assets.json
  services/ticker/CHANGELOG.md
  services/ticker/internal/actions_asset.go
  services/ticker/internal/main.go
  services/ticker/internal/tickerdb/helpers.go
  services/ticker/internal/tickerdb/main.go
  services/ticker/internal/tickerdb/queries_asset.go
Labels: ticker
