Repository stellar/go, pull requests merged in 2019-08, with the labels that each got.

#1545 txnbuild: parse base64 XDR strings into Transaction structs
  staticcheck.sh
  txnbuild/account_merge.go
  txnbuild/allow_trust.go
  txnbuild/asset.go
  txnbuild/bump_sequence.go
  txnbuild/change_trust.go
  txnbuild/create_account.go
  txnbuild/create_passive_offer.go
  txnbuild/inflation.go
  txnbuild/manage_buy_offer.go
  txnbuild/manage_data.go
  txnbuild/manage_offer.go
  txnbuild/memo.go
  txnbuild/operation.go
  txnbuild/path_payment.go
  txnbuild/payment.go
  txnbuild/set_options.go
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1555 txnbuild: FromXDR unit tests
  txnbuild/allow_trust.go
  txnbuild/asset.go
  txnbuild/create_passive_offer.go
  txnbuild/helpers_test.go
  txnbuild/manage_buy_offer.go
  txnbuild/manage_offer.go
  txnbuild/operation_test.go
Labels: txnbuild

#1552 tools/horizon-cmp: Add streaming endpoints tests
  staticcheck.sh
  tools/horizon-cmp/internal/response.go
  tools/horizon-cmp/main.go
Labels: horizon

#1519 services/horizon/internal: Implement path finding endpoint using in memory orderbook
  Gopkg.lock
  Gopkg.toml
  exp/ingest/pipeline/ledger_pipeline.go
  exp/ingest/pipeline/pipeline_test.go
  exp/ingest/pipeline/state_pipeline.go
  exp/orderbook/graph.go
  exp/orderbook/graph_test.go
  exp/tools/accounts-for-signer/main.go
  exp/tools/horizon-demo/pipelines.go
  services/horizon/CHANGELOG.md
  services/horizon/cmd/root.go
  services/horizon/internal/actions_path.go
  services/horizon/internal/actions_path_test.go
  services/horizon/internal/app.go
  services/horizon/internal/config.go
  services/horizon/internal/db2/core/trustline.go
  services/horizon/internal/db2/core/trustline_test.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/db2/history/offers.go
  services/horizon/internal/db2/history/offers_test.go
  services/horizon/internal/db2/history/q_offers_mock.go
  services/horizon/internal/db2/schema/bindata.go
  services/horizon/internal/db2/schema/latest.sql
  services/horizon/internal/db2/schema/migrations/19_offers.sql
  services/horizon/internal/expingest/load_orderbook_graph_test.go
  services/horizon/internal/expingest/main.go
  services/horizon/internal/expingest/pipelines.go
  services/horizon/internal/expingest/processors/accounts_signer_processor_test.go
  services/horizon/internal/expingest/processors/database_processor.go
  services/horizon/internal/expingest/processors/main.go
  services/horizon/internal/expingest/processors/offers_processor_test.go
  services/horizon/internal/expingest/processors/orderbook_processor.go
  services/horizon/internal/expingest/processors/orderbook_processor_test.go
  services/horizon/internal/init.go
  services/horizon/internal/middleware.go
  services/horizon/internal/paths/main.go
  services/horizon/internal/simplepath/finder_test.go
  services/horizon/internal/simplepath/inmemory.go
  services/horizon/internal/test/scenarios/base-horizon.sql
  services/horizon/internal/test/scenarios/bindata.go
  services/horizon/internal/test/scenarios/blank-horizon.sql
  staticcheck.sh
  support/db/session.go
Labels: horizon, ingest

#1558 txnbuild: more unit tests for FromXDR methods
  txnbuild/memo.go
  txnbuild/memo_test.go
  txnbuild/operation_test.go
  txnbuild/set_options.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1560 horizonclient: add support for join param.
  clients/horizonclient/CHANGELOG.md
  clients/horizonclient/internal.go
  clients/horizonclient/main.go
  clients/horizonclient/main_test.go
  clients/horizonclient/operation_request.go
  clients/horizonclient/operation_request_test.go
Labels: horizonclient

#1566 services/horizon: Distributed ingestion
  exp/ingest/live_session.go
  exp/ingest/main.go
  exp/ingest/single_ledger_session.go
  exp/ingest/standard_session.go
  exp/support/pipeline/main.go
  exp/support/pipeline/pipeline.go
  exp/support/pipeline/pipeline_test.go
  exp/tools/horizon-demo/pipelines.go
  services/horizon/CHANGELOG.md
  services/horizon/internal/actions/account.go
  services/horizon/internal/actions/account_test.go
  services/horizon/internal/app.go
  services/horizon/internal/db2/history/key_value.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/db2/history/q_signers_mock.go
  services/horizon/internal/db2/schema/bindata.go
  services/horizon/internal/db2/schema/migrations/19_offers.sql
  services/horizon/internal/expingest/load_orderbook_graph_test.go
  services/horizon/internal/expingest/main.go
  services/horizon/internal/expingest/pipelines.go
  services/horizon/internal/expingest/processors/context_filter.go
  services/horizon/internal/expingest/processors/main.go
Labels: horizon, ingest

#1568 services/horizon: Use PostgresTempSet in Horizon
  exp/ingest/io/postgres_temp_set.go
  services/horizon/internal/expingest/main.go
Labels: horizon, ingest

#1569 txnbuild: Fix manage data value in sep10 challenge
  txnbuild/transaction.go
Labels: txnbuild

#1563 txnbuild: prevent multiple build calls from incrementing operations
  txnbuild/CHANGELOG.md
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1572 txnbuild: sign with secret key
  txnbuild/CHANGELOG.md
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1576 txnbuild: function to verify sep10 challenge tx
  txnbuild/CHANGELOG.md
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1598 services/horizon/internal: Implement get offer by id endpoint
  services/horizon/CHANGELOG.md
  services/horizon/internal/action.go
  services/horizon/internal/actions/account.go
  services/horizon/internal/actions/account_test.go
  services/horizon/internal/actions_account_test.go
  services/horizon/internal/actions_offer_test.go
  services/horizon/internal/app.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/db2/history/offers.go
  services/horizon/internal/db2/history/offers_test.go
  services/horizon/internal/db2/history/q_offers_mock.go
  services/horizon/internal/db2/schema/bindata.go
  services/horizon/internal/db2/schema/latest.sql
  services/horizon/internal/db2/schema/migrations/19_offers.sql
  services/horizon/internal/expingest/load_orderbook_graph_test.go
  services/horizon/internal/expingest/main.go
  services/horizon/internal/expingest/processors/database_processor.go
  services/horizon/internal/expingest/processors/offers_processor_test.go
  services/horizon/internal/middleware.go
  services/horizon/internal/resourceadapter/offer.go
  services/horizon/internal/test/scenarios/base-horizon.sql
  services/horizon/internal/test/scenarios/bindata.go
  services/horizon/internal/test/scenarios/blank-horizon.sql
  services/horizon/internal/urlparams.go
  services/horizon/internal/web.go
Labels: ingest

#1603 Fix SEP 10 validation tests
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1621 services/horizon: remove out-of-date .env.template
  services/horizon/.env.template
Labels: horizon

#1646 services/horizon: Make ledger sequence field name consistent
  services/horizon/internal/expingest/reporter.go
Labels: horizon

#1644 services/horizon: ingest-state-reader-temp-set option
  services/horizon/CHANGELOG.md
  services/horizon/cmd/root.go
  services/horizon/internal/config.go
  services/horizon/internal/expingest/main.go
  services/horizon/internal/init.go
Labels: horizon

#1647 services/horizon: Add referer to Horizon logs
  services/horizon/internal/middleware.go
Labels: horizon

#1645 services/horizon: Change "panic" log level entries to "fatal"
  services/horizon/internal/app.go
  services/horizon/internal/app_test.go
  services/horizon/internal/init.go
Labels: horizon

#1605 services/horizon/internal/expingest: Add pipeline hooks tests
  services/horizon/internal/expingest/pipeline_hooks_test.go
  services/horizon/internal/expingest/pipelines.go
Labels: horizon, ingest

#1648 support/historyarchive: Fix error reporting
  exp/ingest/io/single_ledger_state_reader.go
  support/historyarchive/xdrstream.go
Labels: horizon

#1653 services/horizon: Fix regexp in actions_effects
  services/horizon/CHANGELOG.md
  services/horizon/internal/actions_effects.go
Labels: horizon

#1619 services/horizon/internal: Refactor path finding endpoints
  services/horizon/internal/actions/helpers.go
  services/horizon/internal/actions/helpers_test.go
  services/horizon/internal/actions_fixed_path.go
  services/horizon/internal/actions_path.go
  services/horizon/internal/actions_path_test.go
  services/horizon/internal/app.go
  services/horizon/internal/main_generated.go
  services/horizon/internal/web.go
Labels: horizon

#1671 Beta testing expingest guide
  services/horizon/CHANGELOG.md
  services/horizon/internal/expingest/BETA_TESTING.md
Labels: horizon

#1677 all: Compare state ingested using expingest with stellar-core
  .circleci/config.yml
  exp/tools/dump-ledger-state/README.md
  exp/tools/dump-ledger-state/diff_test.sh
  exp/tools/dump-ledger-state/dump_core_db.sh
  exp/tools/dump-ledger-state/main.go
  exp/tools/dump-ledger-state/run_test.sh
  exp/tools/dump-ledger-state/stellar-core.cfg
Labels: ingest
