Repository stellar/go, pull requests merged in 2019-05, with the labels that each got.

#1226 horizonclient: add more documentation
  clients/horizonclient/client.go
  clients/horizonclient/main.go
  clients/horizonclient/mocks.go
Labels: horizonclient

#1228 horizonclient: Set default HTTP client
  clients/horizonclient/client.go
  clients/horizonclient/main_test.go
Labels: horizonclient

#1193 exp/ticker: Orderbook data support
  exp/ticker/cmd/generate.go
  exp/ticker/cmd/ingest.go
  exp/ticker/docker/conf/crontab.txt
  exp/ticker/docker/setup
  exp/ticker/docker/start
  exp/ticker/internal/actions_market.go
  exp/ticker/internal/actions_orderbook.go
  exp/ticker/internal/gql/main.go
  exp/ticker/internal/gql/resolvers_market.go
  exp/ticker/internal/gql/static/bindata.go
  exp/ticker/internal/gql/static/schema.gql
  exp/ticker/internal/main.go
  exp/ticker/internal/scraper/main.go
  exp/ticker/internal/scraper/orderbook_scraper.go
  exp/ticker/internal/tickerdb/helpers.go
  exp/ticker/internal/tickerdb/main.go
  exp/ticker/internal/tickerdb/migrations/20190425110313-add_orderbook_stats.sql
  exp/ticker/internal/tickerdb/migrations/20190426092321-add_aggregated_orderbook_view.sql
  exp/ticker/internal/tickerdb/migrations/bindata.go
  exp/ticker/internal/tickerdb/queries_asset.go
  exp/ticker/internal/tickerdb/queries_market.go
  exp/ticker/internal/tickerdb/queries_market_test.go
  exp/ticker/internal/tickerdb/queries_orderbook.go
  exp/ticker/internal/tickerdb/queries_orderbook_test.go
  exp/ticker/internal/utils/main.go
Labels: ticker

#1231 changelog for txnbuild 1.1
  CHANGELOG.md
  README.md
  clients/README.md
  clients/horizon/main.go
  clients/horizonclient/README.md
  exp/services/keystore/attachments/2019-04-24-keystore-auth-flows.png
  exp/services/keystore/spec.md
  tools/horizon-cmp/CHANGELOG.md
  tools/horizon-cmp/README.md
  tools/horizon-verify/CHANGELOG.md
  tools/horizon-verify/README.md
  txnbuild/CHANGELOG.md
  txnbuild/README.md
  txnbuild/account_merge.go
  txnbuild/allow_trust.go
  txnbuild/bump_sequence.go
  txnbuild/change_trust.go
  txnbuild/cmd/demo/operations/demo.go
  txnbuild/create_account.go
  txnbuild/create_passive_offer.go
  txnbuild/example_test.go
  txnbuild/helpers_test.go
  txnbuild/inflation.go
  txnbuild/manage_data.go
  txnbuild/manage_offer.go
  txnbuild/operation.go
  txnbuild/path_payment.go
  txnbuild/payment.go
  txnbuild/set_options.go
  txnbuild/signers_test.go
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1233 horizonclient: update changelog
  clients/horizonclient/CHANGELOG.md
Labels: horizonclient

#1229 horizonclient: add version
  clients/horizonclient/client.go
  clients/horizonclient/version.go
Labels: horizonclient

#1217 clients/horizonclient: support dynamic effects
  clients/horizonclient/CHANGELOG.md
  clients/horizonclient/client.go
  clients/horizonclient/effect_request.go
  clients/horizonclient/effect_request_test.go
  clients/horizonclient/main.go
  clients/horizonclient/main_test.go
  clients/horizonclient/mocks.go
  protocols/horizon/effects/main.go
  protocols/horizon/main.go
Labels: horizonclient

#1240 horizonclient v1.1.0 & txnbuild v1.1.0
  clients/horizonclient/CHANGELOG.md
  clients/horizonclient/client.go
  clients/horizonclient/effect_request.go
  clients/horizonclient/effect_request_test.go
  clients/horizonclient/main.go
  clients/horizonclient/main_test.go
  clients/horizonclient/mocks.go
  clients/horizonclient/version.go
  protocols/horizon/effects/main.go
  protocols/horizon/main.go
  txnbuild/CHANGELOG.md
Labels: horizonclient, txnbuild

#1257 Horizon troubleshooting (no stellar-core)
  services/horizon/internal/docs/admin.md
Labels: horizon

#1234 exp/ticker: ensure 24h OHLC values fall back to 7d close value on markets.json
  exp/ticker/internal/tickerdb/queries_market.go
  exp/ticker/internal/tickerdb/queries_market_test.go
Labels: ticker

#1236 exp/ticker: provide times in RFC 3339 format
  exp/ticker/docs/API.md
  exp/ticker/internal/actions_asset.go
  exp/ticker/internal/actions_market.go
  exp/ticker/internal/main.go
  exp/ticker/internal/utils/main.go
Labels: ticker

#1258 exp/ticker: fix process of ingesting trades through streaming
  exp/ticker/internal/actions_trade.go
  exp/ticker/internal/scraper/main.go
  exp/ticker/internal/scraper/trade_scraper.go
  exp/ticker/internal/scraper/trade_scraper_test.go
Labels: ticker

#1246 exp/ticker: Create script to delete old trade data
  exp/ticker/cmd/clean.go
  exp/ticker/internal/tickerdb/queries_trade.go
  exp/ticker/internal/tickerdb/queries_trade_test.go
Labels: ticker

#1235 exp/ticker: add ledgerCloseTime to markets and ticker GraphQL queries
  exp/ticker/internal/gql/main.go
  exp/ticker/internal/gql/resolvers_market.go
  exp/ticker/internal/gql/static/bindata.go
  exp/ticker/internal/gql/static/schema.gql
  exp/ticker/internal/tickerdb/main.go
  exp/ticker/internal/tickerdb/queries_market.go
  exp/ticker/internal/tickerdb/queries_market_test.go
Labels: ticker

#1267 exp/ticker: fix db tests that would sporadically break due to rounding issues
  exp/ticker/internal/tickerdb/queries_asset_test.go
Labels: ticker

#1269 txnbuild: add max limit to change trust
  txnbuild/CHANGELOG.md
  txnbuild/change_trust.go
  txnbuild/change_trust_test.go
Labels: txnbuild

#1271 txnbuild: SimpleAccount implementation
  txnbuild/CHANGELOG.md
  txnbuild/change_trust_test.go
  txnbuild/signers_test.go
  txnbuild/simple_account.go
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1276 clients/horizonclient: support goroutines
  clients/horizonclient/internal.go
  clients/horizonclient/main.go
Labels: horizonclient

#1274 txnbuild: add support for ManageBuyOffer
  txnbuild/CHANGELOG.md
  txnbuild/example_test.go
  txnbuild/manage_buy_offer.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1277 horizonclient: assets next and prev methods
  clients/horizonclient/asset_request_test.go
  clients/horizonclient/client.go
  clients/horizonclient/main.go
  clients/horizonclient/mocks.go
Labels: horizonclient

#1278 horizonclient: next and prev methods
  clients/horizonclient/client.go
  clients/horizonclient/effect_request_test.go
  clients/horizonclient/ledger_request_test.go
  clients/horizonclient/main.go
  clients/horizonclient/mocks.go
Labels: horizonclient

#1283 exp/ticker: ensure trade pair names use their anchor assets' codes whenever possible
  exp/ticker/internal/tickerdb/queries_market.go
  exp/ticker/internal/tickerdb/queries_market_test.go
Labels: ticker

#1287 horizonclient: trades and offers next/prev methods
  clients/horizonclient/client.go
  clients/horizonclient/main.go
  clients/horizonclient/mocks.go
  clients/horizonclient/offer_request_test.go
  clients/horizonclient/trade_request_test.go
Labels: horizonclient

#1288 horizonclient: tx and ops prev/next methods
  clients/horizonclient/client.go
  clients/horizonclient/main.go
  clients/horizonclient/mocks.go
  clients/horizonclient/operation_request_test.go
  clients/horizonclient/transaction_request_test.go
Labels: horizonclient

#1299 Txnbuild: fix bug in change trust operation
  txnbuild/change_trust.go
  txnbuild/signers_test.go
Labels: txnbuild

#1302 horizonclient v1.2.0: merge master into release branch
  README.md
  clients/horizonclient/internal.go
  exp/ticker/internal/tickerdb/queries_market.go
  exp/ticker/internal/tickerdb/queries_market_test.go
  services/horizon/README.md
  services/horizon/internal/docs/readme.md
  services/horizon/internal/docs/reference/readme.md
Labels: horizonclient, txnbuild

#1312 exp/ticker: fix trade db backfill logic
  exp/ticker/internal/scraper/trade_scraper.go
Labels: ticker

#1316 exp/ticker: use a specific User Agent to identify ticker requests
  exp/ticker/internal/scraper/asset_scraper.go
Labels: ticker

#1319 Fix "int64: value out of range" in trade aggregations
  services/horizon/CHANGELOG.md
  services/horizon/internal/actions_trade_test.go
  services/horizon/internal/db2/history/trade_aggregation.go
  services/horizon/internal/resourceadapter/trade_aggregation.go
Labels: horizon

#1216 [ingest/*] New components for HistoryArchiveAdapter
  exp/ingest/adapters/history_archive_adapter.go
  exp/ingest/adapters/history_archive_adapter_test.go
  exp/ingest/io/archive_ledger_reader.go
  exp/ingest/io/memory_state_reader.go
  exp/ingest/io/memory_state_reader_test.go
  exp/ingest/io/state_reader.go
  support/historyarchive/archive.go
  support/historyarchive/s3_archive.go
  tools/archive-reader/archive_reader.go
Labels: ingest

#1314 services/bridge: use horizonclient
  services/bridge/internal/handlers/main.go
  services/bridge/internal/handlers/request_handler_admin.go
  services/bridge/internal/handlers/request_handler_authorize.go
  services/bridge/internal/handlers/request_handler_builder.go
  services/bridge/internal/handlers/request_handler_create_keypair.go
  services/bridge/internal/handlers/request_handler_payment.go
  services/bridge/internal/handlers/request_handler_reprocess.go
  services/bridge/internal/listener/payment_listener.go
  services/bridge/internal/submitter/transaction_submitter.go
  services/bridge/main.go
  services/internal/bridge-compliance-shared/protocols/bridge/payment.go
Labels: bridge

#963 Improve `db reingest range` command
  services/horizon/CHANGELOG.md
  services/horizon/cmd/db.go
  services/horizon/internal/db2/history/account.go
  services/horizon/internal/ingest/session.go
  services/horizon/internal/util/workers_pool.go
Labels: horizon

#1336 Horizon 0.18.0 CHANGELOG
  clients/horizonclient/client.go
  clients/horizonclient/operation_request.go
  protocols/horizon/operations/main.go
  services/horizon/CHANGELOG.md
  services/horizon/internal/actions_operation_fee_stats_test.go
  services/horizon/internal/web.go
Labels: horizon

#1327 services/bridge: use txnbuild
  services/bridge/internal/handlers/request_handler_authorize.go
  services/bridge/internal/handlers/request_handler_builder.go
  services/bridge/internal/handlers/request_handler_payment.go
  services/bridge/internal/submitter/transaction_submitter.go
  services/internal/bridge-compliance-shared/protocols/asset.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_account_merge.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_allow_trust.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_change_trust.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_create_account.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_inflation.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_manage_data.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_manage_offer.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_path_payment.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_payment.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_set_options.go
Labels: bridge

#1339 services/ticker: update API root on ticker docs
  services/ticker/docs/API.md
Labels: ticker

#1344 services/ticker: add ticker to the package index
  README.md
Labels: ticker

#1340 services/compliance: use txnbuild
  services/compliance/internal/handlers/request_handler_send.go
  services/internal/bridge-compliance-shared/main.go
Labels: compliance

#1264 exp/ingest: Ingest pipeline prototype
  exp/ingest/adapters/history_archive_adapter.go
  exp/ingest/adapters/history_archive_adapter_test.go
  exp/ingest/io/main.go
  exp/ingest/io/memory_state_reader.go
  exp/ingest/io/memory_state_reader_test.go
  exp/ingest/io/state_reader.go
  exp/ingest/main.go
  exp/ingest/pipeline/buffered_state_read_write_closer.go
  exp/ingest/pipeline/main.go
  exp/ingest/pipeline/multi_write_closer.go
  exp/ingest/pipeline/pipeline.go
  exp/ingest/pipeline/pipeline_node.go
  exp/ingest/pipeline/pipeline_test.go
  exp/ingest/pipeline/store.go
  exp/ingest/system_test.go
  exp/tools/accounts-for-signer/filters.go
  exp/tools/accounts-for-signer/main.go
  support/historyarchive/json.go
  support/historyarchive/xdrstream.go
  tools/archive-reader/archive_reader.go
Labels: ingest

#1337 services/horizon: Revert max-db-connections config param
  services/horizon/CHANGELOG.md
  services/horizon/cmd/root.go
  services/horizon/internal/config.go
Labels: horizon

#1320 services/horizon: Remove protocols.HistoryAccount
  clients/horizon/main_test.go
  clients/horizon/responses.go
  clients/horizonclient/main_test.go
  protocols/horizon/main.go
  services/horizon/CHANGELOG.md
  services/horizon/internal/resourceadapter/history_account.go
  txnbuild/examplehorizonclient/examplehorizonclient.go
Labels: horizon

#1345 Revert v11 operation type changes
  protocols/horizon/operations/main.go
  services/horizon/CHANGELOG.md
  services/horizon/internal/docs/reference/resources/effect.md
  services/horizon/internal/docs/reference/resources/operation.md
Labels: horizon

#1352 Use new sdk for bridge and compliance.
  services/bridge/internal/handlers/request_handler_authorize.go
  services/bridge/internal/handlers/request_handler_builder.go
  services/bridge/internal/handlers/request_handler_payment.go
  services/bridge/internal/submitter/transaction_submitter.go
  services/compliance/internal/handlers/request_handler_send.go
  services/internal/bridge-compliance-shared/main.go
  services/internal/bridge-compliance-shared/protocols/asset.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_account_merge.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_allow_trust.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_change_trust.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_create_account.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_inflation.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_manage_data.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_manage_offer.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_path_payment.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_payment.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_set_options.go
Labels: bridge, compliance

#1362 Update v11 operation types
  protocols/horizon/operations/main.go
  services/horizon/CHANGELOG.md
Labels: horizon
