Repository stellar/go, pull requests merged in 2019-06, with the labels that each got.

#1364 services/ticker: add logic and command to invert prices for CMC markets
  services/ticker/cmd/generate.go
  services/ticker/internal/actions_market.go
Labels: ticker

#1361 Update new_horizon_ingest with the recent changes
  services/horizon/internal/docs/plans/images/adapters.png
  services/horizon/internal/docs/plans/images/filters.png
  services/horizon/internal/docs/plans/images/io.png
  services/horizon/internal/docs/plans/images/pipeline.png
  services/horizon/internal/docs/plans/images/stores.png
  services/horizon/internal/docs/plans/new_horizon_ingest.md
Labels: ingest

#1347 exp/ingest/pipeline: Pass ctx with cancel to processors and return errors channel
  exp/ingest/pipeline/main.go
  exp/ingest/pipeline/pipeline.go
  exp/ingest/pipeline/pipeline_test.go
  exp/tools/accounts-for-signer/filters.go
  exp/tools/accounts-for-signer/main.go
Labels: ingest

#1374 Display new fields in Horizon 0.18.0
  protocols/horizon/main.go
  protocols/horizon/operations/main.go
  services/horizon/CHANGELOG.md
  services/horizon/internal/resourceadapter/transaction.go
Labels: horizon

#1378 services/ticker: ensure docker pulls ticker binary from stellar/go releases
  services/ticker/docker/setup
Labels: ticker

#1396 exp/ingest: Add support for protocol v11 buckets
  exp/ingest/io/memory_state_reader.go
  exp/tools/accounts-for-signer/filters.go
  exp/tools/accounts-for-signer/main.go
Labels: ingest

#1406 Bridge unit tests
  Gopkg.lock
  services/bridge/internal/config/main.go
  services/bridge/internal/handlers/request_handler_authorize.go
  services/bridge/internal/handlers/request_handler_authorize_test.go
  services/bridge/internal/handlers/request_handler_builder_test.go
  services/bridge/internal/handlers/request_handler_payment_test.go
  services/bridge/internal/listener/payment_listener.go
  services/bridge/internal/listener/payment_listener_test.go
  services/bridge/internal/mocks/main.go
  services/bridge/internal/mocks/mock_database.go
  services/bridge/internal/mocks/mock_federation_resolve.go
  services/bridge/internal/mocks/mock_http_client.go
  services/bridge/internal/mocks/mock_stellar_toml_resolver.go
  services/bridge/internal/mocks/mock_transaction_submitter.go
  services/bridge/internal/submitter/transaction_submitter.go
  services/bridge/internal/submitter/transaction_submitter_test.go
  services/internal/bridge-compliance-shared/protocols/bridge/authorize.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_manage_offer.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_path_payment.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_payment.go
  services/internal/bridge-compliance-shared/protocols/main.go
  support/db/dbtest/sqlite.go
  support/db/dbtest/sqlite_test.go
  support/db/sqlite.go
Labels: bridge

#1370 Process LedgerEntryChange instead of LedgerEntry
  exp/ingest/adapters/history_archive_adapter_test.go
  exp/ingest/io/main.go
  exp/ingest/io/memory_state_reader.go
  exp/ingest/pipeline/buffered_state_read_write_closer.go
  exp/ingest/pipeline/main.go
  exp/ingest/pipeline/multi_write_closer.go
  exp/ingest/pipeline/pipeline_test.go
  exp/tools/accounts-for-signer/filters.go
  tools/archive-reader/archive_reader.go
Labels: ingest

#1419 services/bridge: update changelog
  services/bridge/CHANGELOG.md
  services/bridge/internal/submitter/transaction_submitter_test.go
Labels: bridge

#1417 Compliance server unit tests
  protocols/compliance/auth_data.go
  services/compliance/internal/handlers/request_handler_auth_test.go
  services/compliance/internal/handlers/request_handler_receive_test.go
  services/compliance/internal/handlers/request_handler_send_test.go
  services/compliance/internal/handlers/request_handler_tx_status_test.go
  services/compliance/internal/mocks/main.go
  services/compliance/internal/mocks/mock_database.go
  services/compliance/internal/mocks/mock_federation_resolve.go
  services/compliance/internal/mocks/mock_http_client.go
  services/compliance/internal/mocks/mock_signer_verifier.go
  services/compliance/internal/mocks/mock_stellar_toml_resolver.go
  services/compliance/internal/test/helpers.go
  services/internal/bridge-compliance-shared/main.go
Labels: compliance

#1404 exp/ingest: ledger backend support
  exp/ingest/adapters/ledger_backend_adapter.go
  exp/ingest/adapters/ledger_backend_adapter_test.go
  exp/ingest/cmd/main.go
  exp/ingest/io/ledger_read_closer.go
  exp/ingest/io/mock_ledger_read_closer.go
  exp/ingest/ledgerbackend/database_backend.go
  exp/ingest/ledgerbackend/ledger_backend.go
  exp/ingest/ledgerbackend/mock_database_backend.go
  support/db/session.go
  xdr/db.go
Labels: ingest

#1386 services/horizon: Fix ledger capacity usage in fee stats
  services/horizon/CHANGELOG.md
  services/horizon/internal/actions_operation_fee_stats_test.go
  services/horizon/internal/db2/history/ledger.go
Labels: horizon

#1365 exp/ingest: io.MemoryStateReader tests
  exp/ingest/adapters/history_archive_adapter.go
  exp/ingest/io/memory_state_reader.go
  exp/ingest/io/memory_state_reader_test.go
  support/historyarchive/archive.go
  support/historyarchive/mocks.go
  support/historyarchive/xdrstream.go
  xdr/account_id.go
Labels: ingest

#1427 Horizon v0.18.1 CHANGELOG
  services/horizon/CHANGELOG.md
Labels: horizon

#1428 Fix memory state reader tests
  exp/ingest/io/memory_state_reader_test.go
Labels: ingest

#1434 horizonclient: fix FetchTimebounds test
  clients/horizonclient/main_test.go
  support/http/httptest/client_expectation.go
Labels: horizonclient

#1426 services/compliance use txnbuild assets in compliance
  services/internal/bridge-compliance-shared/protocols/bridge/builder_manage_offer.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_path_payment.go
  services/internal/bridge-compliance-shared/protocols/bridge/builder_payment.go
  services/internal/bridge-compliance-shared/protocols/main.go
Labels: compliance

#1439 txnbuild: remove asset issuer requirement for allow_trust
  txnbuild/CHANGELOG.md
  txnbuild/allow_trust.go
  txnbuild/transaction_test.go
Labels: txnbuild

#1414 exp/support/pipeline: Generic Pipeline
  exp/ingest/adapters/history_archive_adapter_test.go
  exp/ingest/io/ledger_read_closer.go
  exp/ingest/io/main.go
  exp/ingest/io/memory_state_reader.go
  exp/ingest/pipeline/buffered_state_read_write_closer.go
  exp/ingest/pipeline/ledger_pipeline.go
  exp/ingest/pipeline/main.go
  exp/ingest/pipeline/pipeline_test.go
  exp/ingest/pipeline/state_pipeline.go
  exp/ingest/pipeline/wrappers.go
  exp/support/pipeline/buffered_read_write_closer.go
  exp/support/pipeline/buffered_read_write_closer_test.go
  exp/support/pipeline/doc.go
  exp/support/pipeline/main.go
  exp/support/pipeline/multi_write_closer.go
  exp/support/pipeline/pipeline.go
  exp/support/pipeline/pipeline_node.go
  exp/support/pipeline/store.go
  exp/support/pipeline/store_test.go
  exp/tools/accounts-for-signer/filters.go
  exp/tools/accounts-for-signer/main.go
  tools/archive-reader/archive_reader.go
Labels: ingest

#1443 txnbuild: add deprecate warning to default fee
  txnbuild/CHANGELOG.md
  txnbuild/example_test.go
  txnbuild/examplehorizonclient/examplehorizonclient.go
  txnbuild/transaction.go
  txnbuild/transaction_test.go
Labels: txnbuild
