Repository stellar/go, pull requests merged in 2019-03, with the labels that each got.

#928 exp/txnbuild: MVP - request for comments
  exp/txnbuild/bump_sequence.go
  exp/txnbuild/cmd/build_examples/main.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/create_account.go
  exp/txnbuild/inflation.go
  exp/txnbuild/operation.go
  exp/txnbuild/payment.go
  exp/txnbuild/transaction.go
  exp/txnbuild/transaction_test.go
  protocols/horizon/main.go
Labels: txnbuild

#969 Return correct status for resubmitting old, failed transactions
  services/horizon/internal/actions_transaction_test.go
  services/horizon/internal/txsub/results/db/main.go
  services/horizon/internal/txsub/results/db/main_test.go
Labels: horizon

#968 Improve queries getting failed objects
  services/horizon/internal/actions_operation.go
  services/horizon/internal/actions_operation_test.go
  services/horizon/internal/actions_payment.go
  services/horizon/internal/actions_payment_test.go
  services/horizon/internal/actions_transaction.go
  services/horizon/internal/actions_transaction_test.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/db2/history/operation.go
  services/horizon/internal/db2/history/operation_test.go
  services/horizon/internal/db2/history/transaction.go
  services/horizon/internal/db2/history/transaction_test.go
  services/horizon/internal/test/scenarios/failed_transactions.rb
Labels: horizon

#972 Offers schema 9
  services/horizon/internal/actions_offer_test.go
  services/horizon/internal/db2/core/main.go
  services/horizon/internal/db2/core/main_test.go
  services/horizon/internal/db2/core/offer.go
  services/horizon/internal/db2/core/order_book_summary.go
  services/horizon/internal/db2/core/signer.go
  services/horizon/internal/resourceadapter/offer.go
  services/horizon/internal/simplepath/order_book.go
  services/horizon/internal/test/scenarios/bindata.go
  services/horizon/internal/test/scenarios/core_database_schema_version_8-core.sql
  services/horizon/internal/test/scenarios/core_database_schema_version_9-core.sql
  xdr/db.go
Labels: horizon

#978 txnbuild: account merge, manage data, set options
  exp/txnbuild/account_merge.go
  exp/txnbuild/cmd/configure_testnet.sh
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/manage_data.go
  exp/txnbuild/set_options.go
  exp/txnbuild/set_options_test.go
  exp/txnbuild/transaction.go
  exp/txnbuild/transaction_test.go
Labels: sdk, txnbuild

#995 Check if multiple filters are set
  services/horizon/internal/actions/helpers.go
  services/horizon/internal/actions_effects.go
  services/horizon/internal/actions_effects_test.go
  services/horizon/internal/actions_operation.go
  services/horizon/internal/actions_operation_test.go
  services/horizon/internal/actions_payment.go
  services/horizon/internal/actions_payment_test.go
  services/horizon/internal/actions_transaction.go
  services/horizon/internal/actions_transaction_test.go
  services/horizon/internal/helpers.go
Labels: horizon

#994 Es txnbuild 948
  exp/txnbuild/asset.go
  exp/txnbuild/asset_test.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/helpers_test.go
  exp/txnbuild/payment.go
  exp/txnbuild/set_options.go
  exp/txnbuild/transaction_test.go
Labels: sdk, txnbuild

#1001 exp/txnbuild: change trust
  exp/txnbuild/asset.go
  exp/txnbuild/change_trust.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/transaction_test.go
Labels: sdk, txnbuild

#1004 exp/txnbuild: user-facing function to wrap delete trustline functionality
  exp/txnbuild/change_trust.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/transaction_test.go
Labels: sdk, txnbuild

#1005 horizon-v0.17.4 CHANGELOG
  services/horizon/CHANGELOG.md
Labels: horizon

#1010 txnbuild allow trust (#982)
  exp/txnbuild/allow_trust.go
  exp/txnbuild/asset.go
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/transaction_test.go
Labels: sdk, txnbuild

#1032 txnbuild: manage offer / create passive offer (#981)
  exp/txnbuild/cmd/txnbuild_examples/main.go
  exp/txnbuild/create_passive_offer.go
  exp/txnbuild/manage_offer.go
  exp/txnbuild/transaction_test.go
Labels: sdk, txnbuild

#1053 exp/client/horizon: support transactions endpoints
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/main_test.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/transaction_request.go
  exp/clients/horizon/transaction_request_test.go
  protocols/horizon/main.go
Labels: horizonclient

#1055 exp/clients/horizon: orderbook
  exp/clients/horizon/client.go
  exp/clients/horizon/internal.go
  exp/clients/horizon/main.go
  exp/clients/horizon/main_test.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/order_book_request.go
  exp/clients/horizon/order_book_request_test.go
Labels: horizonclient

#1057 exp/clients/horizon: path finding
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/paths_request.go
  exp/clients/horizon/paths_request_test.go
  protocols/horizon/main.go
Labels: horizonclient

#1059 exp/clients/horizon: payments
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/main_test.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/operation_request.go
  exp/clients/horizon/operation_request_test.go
Labels: horizonclient

#1063 exp/clients/horizon: support trades endpoint
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/trade_request.go
  exp/clients/horizon/trade_request_test.go
Labels: horizonclient

#1064 exp/clients/horizon: support trade aggregations
  exp/clients/horizon/client.go
  exp/clients/horizon/main.go
  exp/clients/horizon/mocks.go
  exp/clients/horizon/trade_aggregation_request.go
  exp/clients/horizon/trade_aggregation_request_test.go
Labels: horizonclient
