Repository stellar/go, pull requests merged in 2019-09, with the labels that each got.

#1722 horizon/expingest: Fix ingest session resume
  exp/ingest/live_session.go
  exp/ingest/main.go
  exp/ingest/single_ledger_session.go
  exp/ingest/standard_session.go
  services/horizon/internal/expingest/main.go
Labels: P1, horizon

#1725 services/{bridge,compliance}/internal/config: remove mysql support
  services/bridge/internal/config/main.go
  services/bridge/internal/config/main_test.go
  services/compliance/internal/config/main.go
  services/compliance/internal/config/main_test.go
Labels: bridge, compliance

#1720 services/horizon/expingest: Batch insert ledger entries during state ingestion
  services/horizon/CHANGELOG.md
  services/horizon/internal/db2/history/account_signers_batch_insert_builder.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/db2/history/mock_account_signers_batch_insert_builder.go
  services/horizon/internal/db2/history/mock_offers_batch_insert_builder.go
  services/horizon/internal/db2/history/offers_batch_insert_builder.go
  services/horizon/internal/db2/history/q_offers_mock.go
  services/horizon/internal/db2/history/q_signers_mock.go
  services/horizon/internal/expingest/pipelines.go
  services/horizon/internal/expingest/processors/accounts_signer_processor_test.go
  services/horizon/internal/expingest/processors/database_processor.go
  services/horizon/internal/expingest/processors/main.go
  services/horizon/internal/expingest/processors/offers_processor_test.go
  support/db/batch_insert_builder.go
  support/db/batch_insert_builder_test.go
  support/db/main.go
Labels: horizon

#1746 services/horizon/expingest: Expingest recover
  services/horizon/internal/expingest/main.go
Labels: horizon

#1750 services/horizon: Increase HAS publish delay
  services/horizon/internal/expingest/verify.go
Labels: horizon

#1759 exp/ingest/io: Fix AccountSignersChanged for account merge
  exp/ingest/io/ledger_transaction.go
  exp/ingest/io/ledger_transaction_test.go
  services/horizon/CHANGELOG.md
  services/horizon/internal/expingest/main.go
  services/horizon/internal/expingest/verify.go
Labels: horizon

#1762 services/horizon/expingest: Do not start verification when state is already found to be invalid
  services/horizon/internal/expingest/main.go
  services/horizon/internal/expingest/pipelines.go
  services/horizon/internal/expingest/run_ingestion_test.go
Labels: horizon, ingest

#1763 services/horizon: Check state in all exp endpoints
  services/horizon/internal/actions_path_test.go
  services/horizon/internal/middleware.go
  services/horizon/internal/web.go
Labels: horizon, ingest

#1764 services/horizon: Check rows affected in DatabaseProcessor
  exp/ingest/verify/main.go
  services/horizon/internal/action_offers_expingest_test.go
  services/horizon/internal/actions/offer_test.go
  services/horizon/internal/db2/history/account_signers.go
  services/horizon/internal/db2/history/account_signers_test.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/db2/history/offers.go
  services/horizon/internal/db2/history/offers_test.go
  services/horizon/internal/db2/history/q_offers_mock.go
  services/horizon/internal/db2/history/q_signers_mock.go
  services/horizon/internal/expingest/load_orderbook_graph_test.go
  services/horizon/internal/expingest/pipeline_hooks_test.go
  services/horizon/internal/expingest/pipelines.go
  services/horizon/internal/expingest/processors/accounts_signer_processor_test.go
  services/horizon/internal/expingest/processors/database_processor.go
  services/horizon/internal/expingest/processors/offers_processor_test.go
Labels: horizon

#1770 Horizon 0.21.0 CHANGELOG and docs
  services/horizon/CHANGELOG.md
  services/horizon/internal/expingest/BETA_TESTING.md
Labels: horizon

#1775 Add Horizon metrics to Admin Guide
  services/horizon/internal/docs/admin.md
Labels: horizon

#1629 Horizon-cmp fixes/improvements
  tools/horizon-cmp/internal/response.go
  tools/horizon-cmp/main.go
Labels: horizon
