Repository stellar/go, pull requests merged in 2022-03, with the labels that each got.

#4279 all: Add Protocol 19 XDR and update StrKey to support Signed Payloads
  gxdr/xdr_generated.go
  network/main.go
  network/main_test.go
  services/horizon/internal/db2/history/fee_bump_scenario.go
  services/horizon/internal/db2/schema/bindata.go
  services/horizon/internal/db2/schema/migrations/54_bigger_account_signers.sql
  services/horizon/internal/ingest/processors/effects_processor_test.go
  services/horizon/internal/ingest/processors/signers_processor.go
  services/horizon/internal/ingest/verify_test.go
  services/horizon/internal/resourceadapter/claimable_balances_test.go
  strkey/decode_test.go
  strkey/encode_test.go
  strkey/main.go
  strkey/main_test.go
  strkey/signed_payload.go
  strkey/signed_payload_test.go
  txnbuild/create_claimable_balance.go
  txnbuild/helpers_test.go
  txnbuild/transaction.go
  txnbuild/transaction_test.go
  xdr/Stellar-ledger-entries.x
  xdr/Stellar-overlay.x
  xdr/Stellar-transaction.x
  xdr/Stellar-types.x
  xdr/go_string.go
  xdr/go_string_test.go
  xdr/json.go
  xdr/json_test.go
  xdr/ledger_entry.go
  xdr/preconditions.go
  xdr/signer_key.go
  xdr/signer_key_test.go
  xdr/transaction.go
  xdr/transaction_envelope.go
  xdr/transaction_envelope_test.go
  xdr/xdr_generated.go
Labels: Protocol 19

#4294 Support new account fields for protocol-19.
  protocols/horizon/main.go
  services/horizon/internal/actions/account_test.go
  services/horizon/internal/db2/history/accounts.go
  services/horizon/internal/db2/history/accounts_test.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/db2/schema/bindata.go
  services/horizon/internal/db2/schema/migrations/55_add_account_sequence_ledger.sql
  services/horizon/internal/ingest/processor_runner_test.go
  services/horizon/internal/ingest/processors/accounts_processor.go
  services/horizon/internal/ingest/processors/accounts_processor_test.go
  services/horizon/internal/resourceadapter/account_entry.go
  services/horizon/internal/resourceadapter/account_entry_test.go
  xdr/account_entry.go
Labels: Protocol 19

#4302 xdr, keypair: Add helpers to create CAP-40 decorated signatures
  keypair/from_address.go
  keypair/full.go
  keypair/full_test.go
  keypair/main.go
  keypair/main_test.go
  xdr/decorated_signature.go
  xdr/decorated_signature_test.go
  xdr/signer_key_test.go
Labels: Protocol 19

#4303 txnbuild: Add support for new CAP-21 preconditions.
  clients/horizonclient/client.go
  clients/horizonclient/examples_test.go
  clients/horizonclient/main_test.go
  exp/services/recoverysigner/internal/serve/account_sign_signing_address_test.go
  exp/services/webauth/internal/serve/token_test.go
  services/friendbot/init_friendbot.go
  services/friendbot/internal/minion.go
  services/horizon/internal/integration/negative_seq_txsub_test.go
  services/horizon/internal/integration/sponsorship_test.go
  services/horizon/internal/test/integration/integration.go
  services/regulated-assets-approval-server/internal/configureissuer/configureissuer.go
  services/regulated-assets-approval-server/internal/serve/api_tx_approve_test.go
  services/regulated-assets-approval-server/internal/serve/friendbot.go
  services/regulated-assets-approval-server/internal/serve/tx_approve.go
  services/regulated-assets-approval-server/internal/serve/tx_approve_test.go
  txnbuild/CHANGELOG.md
  txnbuild/account_merge_test.go
  txnbuild/allow_trust_test.go
  txnbuild/bump_sequence_test.go
  txnbuild/change_trust_test.go
  txnbuild/clawback_test.go
  txnbuild/cmd/demo/operations/demo.go
  txnbuild/create_account_test.go
  txnbuild/create_claimable_balance_test.go
  txnbuild/create_passive_offer_test.go
  txnbuild/example_test.go
  txnbuild/fee_bump_test.go
  txnbuild/ledgerbounds.go
  txnbuild/manage_buy_offer_test.go
  txnbuild/manage_data_test.go
  txnbuild/manage_offer_test.go
  txnbuild/operation_test.go
  txnbuild/path_payment_strict_send_test.go
  txnbuild/path_payment_test.go
  txnbuild/payment_test.go
  txnbuild/preconditions.go
  txnbuild/preconditions_test.go
  txnbuild/signers_test.go
  txnbuild/timebounds.go
  txnbuild/timebounds_test.go
  txnbuild/transaction.go
  txnbuild/transaction_fee_test.go
  txnbuild/transaction_test.go
  xdr/transaction_envelope.go
Labels: txnbuild, Protocol 19

#4307 txnbuild: Complete rename, avoid using XDR types in `TransactionParams`.
  clients/horizonclient/examples_test.go
  clients/horizonclient/main_test.go
  exp/services/recoverysigner/internal/serve/account_sign_signing_address_test.go
  exp/services/webauth/internal/serve/token_test.go
  services/friendbot/init_friendbot.go
  services/friendbot/internal/minion.go
  services/horizon/internal/integration/negative_seq_txsub_test.go
  services/horizon/internal/integration/sponsorship_test.go
  services/horizon/internal/test/integration/integration.go
  services/regulated-assets-approval-server/internal/configureissuer/configureissuer.go
  services/regulated-assets-approval-server/internal/serve/api_tx_approve_test.go
  services/regulated-assets-approval-server/internal/serve/friendbot.go
  services/regulated-assets-approval-server/internal/serve/tx_approve.go
  services/regulated-assets-approval-server/internal/serve/tx_approve_test.go
  txnbuild/account_merge_test.go
  txnbuild/allow_trust_test.go
  txnbuild/bump_sequence_test.go
  txnbuild/change_trust_test.go
  txnbuild/clawback_test.go
  txnbuild/cmd/demo/operations/demo.go
  txnbuild/create_account_test.go
  txnbuild/create_claimable_balance_test.go
  txnbuild/create_passive_offer_test.go
  txnbuild/example_test.go
  txnbuild/fee_bump_test.go
  txnbuild/manage_buy_offer_test.go
  txnbuild/manage_data_test.go
  txnbuild/manage_offer_test.go
  txnbuild/operation_test.go
  txnbuild/path_payment_strict_send_test.go
  txnbuild/path_payment_test.go
  txnbuild/payment_test.go
  txnbuild/preconditions.go
  txnbuild/preconditions_test.go
  txnbuild/signers_test.go
  txnbuild/transaction.go
  txnbuild/transaction_fee_test.go
  txnbuild/transaction_test.go
Labels: txnbuild, Protocol 19

#4308 all: Update Protocol 19 XDR to the latest
  gxdr/xdr_generated.go
  services/horizon/internal/ingest/processors/effects_processor_test.go
  services/horizon/internal/resourceadapter/claimable_balances_test.go
  txnbuild/create_claimable_balance.go
  xdr/Stellar-ledger-entries.x
  xdr/Stellar-transaction.x
  xdr/json.go
  xdr/json_test.go
  xdr/xdr_generated.go
Labels: Protocol 19

#4248 clients/horizonclient: fix multi-parameter url for claimable balance query
  clients/horizonclient/claimable_balance_request.go
  clients/horizonclient/claimable_balance_request_test.go
  clients/horizonclient/main.go
Labels: horizonclient
