Repository stellar/go, pull requests merged in 2023-07, with the labels that each got.

#4942 Refactor `xdr.LedgerEntry.LedgerKey` method
  gxdr/dump.go
  ingest/change_compactor.go
  ingest/checkpoint_change_reader.go
  ingest/ledger_change_reader.go
  ingest/ledgerbackend/buffered_meta_pipe_reader.go
  ingest/ledgerbackend/captive_core_backend_test.go
  ingest/verify/main.go
  ingest/verify/main_test.go
  protocols/federation/main.go
  protocols/horizon/main_test.go
  services/horizon/internal/actions/transaction.go
  services/horizon/internal/db2/history/operation.go
  services/horizon/internal/ingest/orderbook.go
  services/horizon/internal/ingest/processors/trades_processor.go
  services/horizon/internal/ingest/processors/trust_lines_processor.go
  services/horizon/internal/ingest/verify.go
  services/horizon/internal/test/integration/integration.go
  support/render/hal/io.go
  support/render/httpjson/io.go
  tools/xdr2go/main.go
  txnbuild/account_merge_test.go
  txnbuild/allow_trust_test.go
  txnbuild/begin_sponsoring_future_reserves_test.go
  txnbuild/bump_sequence_test.go
  txnbuild/change_trust_test.go
  txnbuild/claim_claimable_balance_test.go
  txnbuild/clawback_claimable_balance_test.go
  txnbuild/clawback_test.go
  txnbuild/cmd/demo/operations/demo.go
  txnbuild/create_account_test.go
  txnbuild/create_claimable_balance_test.go
  txnbuild/end_sponsoring_future_reserves_test.go
  txnbuild/inflation_test.go
  txnbuild/invoke_host_function_test.go
  txnbuild/liquidity_pool_deposit_test.go
  txnbuild/liquidity_pool_withdraw_test.go
  txnbuild/manage_buy_offer_test.go
  txnbuild/manage_data_test.go
  txnbuild/manage_offer_test.go
  txnbuild/operation_test.go
  txnbuild/path_payment_strict_send_test.go
  txnbuild/path_payment_test.go
  txnbuild/payment_test.go
  txnbuild/revoke_sponsorship_test.go
  txnbuild/set_trustline_flags_test.go
  xdr/account_id.go
  xdr/account_id_test.go
  xdr/ledger_close_meta.go
  xdr/ledger_entry.go
  xdr/ledger_entry_change.go
  xdr/ledger_entry_test.go
  xdr/ledger_key.go
  xdr/ledger_key_test.go
  xdr/main.go
Labels: soroban-scrum, preview-10

#4944 integration tests: Add horizon test support for new bump/restore footprint ops
  services/horizon/docker/docker-compose.integration-tests.yml
  services/horizon/internal/integration/db_test.go
Labels: soroban-scrum, preview-10

#4938 integration tests: fix integration tests for preview 10
  .github/workflows/horizon.yml
  services/horizon/docker/captive-core-integration-tests.cfg
  services/horizon/docker/captive-core-integration-tests.soroban-rpc.cfg
  services/horizon/internal/ingest/processors/operations_processor.go
  services/horizon/internal/ingest/processors/operations_processor_test.go
  services/horizon/internal/integration/contracts/Cargo.lock
  services/horizon/internal/integration/contracts/Cargo.toml
  services/horizon/internal/integration/contracts/add_u64/src/lib.rs
  services/horizon/internal/integration/contracts/increment/src/lib.rs
  services/horizon/internal/integration/contracts/increment/src/test.rs
  services/horizon/internal/integration/contracts/sac_test/src/lib.rs
  services/horizon/internal/integration/invokehostfunction_test.go
  services/horizon/internal/integration/sac_test.go
  services/horizon/internal/integration/testdata/soroban_add_u64.wasm
  services/horizon/internal/integration/testdata/soroban_increment_contract.wasm
  services/horizon/internal/integration/testdata/soroban_sac_test.wasm
  services/horizon/internal/test/integration/integration.go
Labels: soroban-scrum, preview-10

#4956 services/horizon: Fix Horizon connectivity to core in standalone docker
  services/horizon/docker/docker-compose.standalone.yml
Labels: horizon, partner-experience

#4963 horizon: fix EffectRestoreFootprint enum
  protocols/horizon/effects/main.go
  services/horizon/internal/db2/history/main.go
  services/horizon/internal/resourceadapter/effects.go
  services/horizon/internal/resourceadapter/effects_test.go
Labels: soroban-scrum, preview-10

#4955 Add functionality to hide ingestion enabled flag from --help output
  services/horizon/cmd/ingest.go
  services/horizon/cmd/root.go
  services/horizon/internal/flags.go
  services/horizon/internal/integration/command_line_args_test.go
  services/horizon/internal/integration/ingestion_filtering_test.go
  services/horizon/internal/integration/parameters_test.go
  services/horizon/internal/test/integration/integration.go
  support/config/config_option.go
Labels: horizon, partner-experience

#4968 all: Bump Soroban XDR definitions
  .github/workflows/horizon.yml
  Makefile
  gxdr/xdr_generated.go
  services/horizon/internal/codes/main.go
  services/horizon/internal/ingest/processors/operations_processor.go
  services/horizon/internal/ingest/processors/operations_processor_test.go
  services/horizon/internal/integration/invokehostfunction_test.go
  services/horizon/internal/integration/sac_test.go
  txnbuild/invoke_host_function_test.go
  xdr/Stellar-contract-config-setting.x
  xdr/Stellar-contract.x
  xdr/Stellar-ledger.x
  xdr/Stellar-transaction.x
  xdr/scval.go
  xdr/xdr_commit_generated.txt
  xdr/xdr_generated.go
Labels: soroban-scrum

#4977 Services/horizon: Reduce log output
  services/horizon/internal/app.go
Labels: horizon

#4986 Resolve Horizon CI failures caused by the failure to install the right version of libc++
  .github/workflows/horizon.yml
Labels: horizon
