Repository stellar/go, pull requests merged in 2023-08, with the labels that each got.

#4948 Revamp Internal Horizon Documentation
  .gitignore
  DEVELOPING.md
  README.md
  integration.sh
  services/horizon/README.md
  services/horizon/docker/README.md
  services/horizon/docker/docker-compose.standalone.yml
  services/horizon/docker/docker-compose.yml
  services/horizon/internal/docs/GUIDE_FOR_DEVELOPERS.md
  services/horizon/internal/docs/HorizonWithCaptiveCore.png
  services/horizon/internal/docs/HorizonWithRemoteCaptiveCore.png
  services/horizon/internal/docs/HorizonWithoutCaptiveCore.png
  services/horizon/internal/docs/SDK_API_GUIDE.md
  services/horizon/internal/docs/TESTING_NOTES.md
  services/horizon/internal/docs/admin.md
  services/horizon/internal/docs/captive_core.md
  services/horizon/internal/docs/developing.md
  services/horizon/internal/docs/notes_for_developers.md
  services/horizon/internal/docs/quickstart.md
  services/horizon/internal/docs/readme.md
Labels: horizon, partner-experience

#5020 services/horizon: Refactor StartHorizon() function
  services/horizon/internal/test/integration/integration.go
Labels: horizon

#4979 Add DISABLE-TX-SUB configuration parameter
  services/horizon/internal/actions/submit_transaction.go
  services/horizon/internal/actions/submit_transaction_test.go
  services/horizon/internal/app.go
  services/horizon/internal/config.go
  services/horizon/internal/flags.go
  services/horizon/internal/httpx/router.go
  services/horizon/internal/integration/clawback_test.go
  services/horizon/internal/integration/parameters_test.go
  services/horizon/internal/integration/txsub_test.go
  support/config/config_option.go
Labels: partner-experience
